section.images
  div.image-l
    a(href= "distro.html")
      img.image-l__img(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F2.bp.blogspot.com%2F-1tdO7rA_KTg%2FVhqgxy_Z1AI%2FAAAAAAAAA8I%2FoQcqAf8gP-w%2Fs1600%2Farch_linux.png&f=1&nofb=1&ipt=b96a0dce98d6ead762c4bb9bd087af6ff85d9c2c712f85bcc013891987125ed8&ipo=images", alt="Image Left")
  div.image-c
    img.image-c__img(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F2.bp.blogspot.com%2F-1tdO7rA_KTg%2FVhqgxy_Z1AI%2FAAAAAAAAA8I%2FoQcqAf8gP-w%2Fs1600%2Farch_linux.png&f=1&nofb=1&ipt=b96a0dce98d6ead762c4bb9bd087af6ff85d9c2c712f85bcc013891987125ed8&ipo=imageshttps://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F2.bp.blogspot.com%2F-1tdO7rA_KTg%2FVhqgxy_Z1AI%2FAAAAAAAAA8I%2FoQcqAf8gP-w%2Fs1600%2Farch_linux.png&f=1&nofb=1&ipt=b96a0dce98d6ead762c4bb9bd087af6ff85d9c2c712f85bcc013891987125ed8&ipo=images", alt="Image Center")
  div.image-r
    img.image-r__img(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F2.bp.blogspot.com%2F-1tdO7rA_KTg%2FVhqgxy_Z1AI%2FAAAAAAAAA8I%2FoQcqAf8gP-w%2Fs1600%2Farch_linux.png&f=1&nofb=1&ipt=b96a0dce98d6ead762c4bb9bd087af6ff85d9c2c712f85bcc013891987125ed8&ipo=images", alt="Image Right")
