div.menu-line
  div.menu-line__title Home
  nav.menu
    a.menu__item.menu__item--active(href="index.html") Home
    a.menu__item(href="distro.html") My Favorite Linux Distribution 🤩
    a.menu__item(href="table.html") Compare Distributions
    a.menu__item(href="#") Amogus
