.logos
  display flex
  justify-content center
  margin 20px 0

  .logo
    margin 10px 20px
    text-align center

    &-logo
      width 50px
      height 50px
      background LightBLue
      border-radius 50%
      display flex
      justify-content center
      align-items center
      margin 0 auto
      &:hover
        transform scale(1.03)
        box-shadow 0 4px 8px rgba(0, 0, 0, 0.2)

    &-text
      width 130px
      margin 10px auto
      font-size 14px
